{% extends "base.html" %}

{% block content %}

  <form action="start" method="POST" novalidate>
    <h2>Привет, {{ dct_test['username'] }}!</h2>
    <h3>В каждой паре утверждений выберете то, с которым вы больше согласны. Номера выбранных утверждений
      последовательно запишите. Выбранной вами комбинации цифр соответствует определенный тип личности.</h3>
    {{ form.hidden_tag() }}
    <input type="hidden" name="id_test" value=" {{ dct_test['id_test'] }} ">
    <input type="hidden" name="username" value=" {{ dct_test['username'] }} ">
    <p>
        {{ form.choice_switcher() }}
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
  </form>
{% endblock %}